<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->
<!--<app-search></app-search>-->
<div class="container-fluid">
  <div class="jumbotron">
    <h1>G.I.T.H.U.B-S.E.A.R.C.H </h1>
   <!--<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.shareicon.net%2Fdata%2F2016%2F06%2F20%2F606964_github_4096x4096.png&imgrefurl=https%3A%2F%2Fwww.shareicon.net%2Fgithub-606964&docid=s2a2ehAQJ9cz2M&tbnid=SjcezlZdDIMPJM%3A&vet=10ahUKEwiHjdzDw4HiAhVHKBoKHQwPCMIQMwhyKBIwEg..i&w=4096&h=4096&bih=654&biw=640&q=github%20logo&ved=0ahUKEwiHjdzDw4HiAhVHKBoKHQwPCMIQMwhyKBIwEg&iact=mrc&uact=8" alt="logo" >-->
  </div>
  <div class="card">
    <p>Welcome to Github-Search where you can search users and repositories.</p><br>
    <p class="button1"><a class="buttons bg-dark" routerLink='/home' >Go to Search Page</a></p><br>
  </div>
  </div>
  <br><br><br><br><br>
  <app-home></app-home>
  <router-outlet></router-outlet>
