<div class="container-fluid">
    <div class="card">
        <h1>MY PAGE</h1>
    </div>
        <div class="row">

          <div class="col-md-6">
<img src="{{myInfo.avatar}}"class="img-fluid rounded-circle"  alt="prof">
</div>
</div>

        
        
    
    <div class="row">
      <div class="col-md-6">
    <div class="card-body" >
            <span class="btn btn-warning">Username: <b>{{myInfo.username}} </b></span><br>
            <span class="btn btn-info">Followers: {{myInfo.followers}}</span><br>
              <span class="btn btn-info">following:  {{myInfo.following}}</span><br>
<p><a href="{{myInfo.html_url}}" class="btn btn-success" target="_blank">View Github Profile</a></p>

</div>
</div>

</div>

</div>
