<div class="input">
<input type="text" placeholder="Enter a username " [(ngModel)]="usernameInput"id="search"><br><br>
<button type="button" class="btn btn-info"(click)="getUserInfo()" >Submit</button>

</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" id="u-avatar">
          <img src="{{otherUserInfo.avatar}}"class="img-fluid rounded-circle">
        </div>
  
  </div>
  
  
  
      
        
          
        
        <div class="row">
          <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">Username: <b>{{otherUserInfo.username}} </b></li>
              <li class="list-group-item">Followers: {{otherUserInfo.followers}}</li>
                <li class="list-group-item">following:  {{otherUserInfo.following}}</li>
        
                <li><a href="{{otherUserInfo.html_url}}" class="btn btn-success" target="_blank">View Github Profile</a></li>
        </ul>
              </div>
</div>
</div>

